
/*Это начало первого блока*/

body{
	font-family: font-family: 'Montserrat', arial, sans-serif;
	margin: -20px 0px;
	height:100%; 
	width:100%;
	
	
	
}
h3 {color:#074f66;
   margin-top: 0px;}
   
h2 {color:#074f66;
   margin-top: 0px;}
   
h1{color:#074f66;
   margin-top: 0px;
	
}   


header {
	margin: none;
	border: none;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
	
}


p{ color: white;
	
	
}

a {text-decoration: none;
  
	
}
a:visited{
	color:#0a7396;
	
	
	
}
ul.MainMeny li {
	display: inline-block;
	padding: 30px;
	text-decoration:none;
	list-style-type:none;
	text-align: right;
	
}

ul.MainMeny {
	text-align: right;
	margin-right: 100px;
	position: realtive:
}
ul>li {
	 list-style-type: none;
}

p.MenyABR{
	margin-top: -65px;
	margin-left: 40px;
	font-size: 26px;
}

span.DEV{
	font-size: 98px;
    color: #074f66;
    margin-top: 0;
	
}

span.AID{
	    color: #eebf3f;
		font-size: 98px;
		margin-top: 0;

	
}

div.MainTextAndButtons{
	text-align: center;
	margin-top: 120px;
	font-size: 29px;
	text-decoration: none;
	}
	
div>p{
	text-decoration: none;
}	
	
	
p.DEVAID{
	font-size: 2em;
	
}

div.MainButtons{
	display: block;
	text-align: center;
	padding:15px;
	text-decoration: none;
	
	
}
.promo .btns .btn {
    margin-right: 15px;
    font-size: 18px;
    padding: 8px 30px;
	
}

a.btn-btn-cta-secondary{
	background: #eebf3f;
    border: 1px solid #eebf3f;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
	margin-right: 10px;
	border-radius: 4px;	
	padding: 10px;
	
	
}

a.btn-btn-cta-primary{
	background: #074f66;
    border: 1px solid #074f66;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
	margin-left: 10px;
	border-radius: 4px;
	padding: 10px;
	
}



div.Lownavigation ul li{
	display: inline-block;
	padding: none;
	margin-left: 200px;
	margin-top: 80px;
	
	
	
	
	
}
.Mainbackground{
	background-color: #17baef;
	
}
/*Это вот все конец первого блока вплоть да полоски с соушал-медиа*/



/*Начало второго блока*/




section.WhatIsAev{
	background-color: #f5f5f5;
	text-align: center;
	margin-top: 40px;
	
}

div.Main-WhatIsAev-container{

padding-top: 60px;


}

div.What_Is_Aev_Content{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding-top: 10px;
	padding-left: 120px;
	text-align: left;
	
	
}


section.WhatIsAev p{
   color:black;	
   font-size: 18px;
   margin: 0px;
   padding-bottom: 65px;
   
   
}



p.W-D-Text{
	color:black;
}



	



/*Это конец второго болка*/


/*А вот это вот начало третьего блока*/

section.Featuresblock{
	text-align: center;
	background-color: #17baef;
	margin-top: 0px;
	padding-top: 50px;
	padding-bottom: 50px;
}

ul.Feature_List li{
	padding: 10px;
	margin-right: 30px;
	font-family: 'Lato', arial, sans-serif;
}

ul.Feature_List li: before{
	content: галочка;
	margin-right
	
}
 
 
 /* А вуот это вот, конец третьего бока про "Features"*/
 
 
 
 /*Начало четвертого блока*/
 
 
 

 
 section.Code_Examples  {

	display: grid;
	grid-template-columns: 1fr; 
	 background-color: rgba(245, 245, 245, 1);
	 
	 
	 
 }
 
 div.Inner_in_Fildset{
	 
	 
	 
 }
 
 div.Inner_in_Fildset fieldset{
	 text-align: center;
	 width: 700px;
	 
	 padding: 20px;
	 
	 background-color: rgba(255, 255, 255, 1);
	 
	 margin-left: 20%;
	 
	 
 }
 div.Inner_in_Fildset {
	 padding-top: 50px;
	 padding-bottom: 50px;
 }
 
 div.Inner_in_Fildset p {
	 color: black;
	 text-align: left;
	 
 }
 
div.Inner_in_Fildset >h1 h2  {
	 padding-left: 100px;
	 

}
 

.Code_box{
	
	width: 100%;
	background-color: black;
	border-radius: 5px;
	
} 
code{
	color: white;
	text-align: left;
	text-align: left;
}

div.blue_conteiner {
	background: #d6f3fc; 
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}



div.blue_conteiner p {
	color: #074f66;
	
}

/*Конец четвёртого блока*/



/*Начало последнего Footer-блока*/

section.footer_block{
	background-color:#17baef;
	
	
}

div.Footer_content{
	text-align: center;
	padding-top: 100px;
	padding-right: 60px;
	
}


